<!DOCTYPE html>
<html>s
  <head
    <title>Testapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<<<<<<< HEAD
<<<<<<< HEAD
aaaadddßassa
=======
aaaadddß
>>>>>>> feature/#3_back
=======
aaaadddßsss
>>>>>>> foo
  <body>
    <%= yield %>
  </body>
</html>
